/*
File: rps_styles.css
Zachary Muranaka
Styles shared across every page
*/

/* Defines the free Google font Amiko, which I downloaded at https://google-webfonts-helper.herokuapp.com/fonts/amiko?subsets=latin */
@font-face {
    font-family: Amiko;
    src: url(../fonts/amiko.woff) format('woff'), url(../fonts/amiko.ttf) format('truetype');
}

/* Basic body styling */
body {
    text-align: center;
    margin: 0px auto;
    max-width: 1000px;
    min-width: 320px;
    background-color: white;
    font-family: Amiko, Verdana, Geneva, sans-serif;
}

/* Header styles */

/* The header is displayed as a table so the links will all be in a line */
header {
    width: 100%;
    display: table;
    background: linear-gradient(to top, rgb(0,0,204), white);
    background: -webkit-linear-gradient(bottom, rgb(0,0,204), white);
    background: -o-linear-gradient(bottom, rgb(0,0,204), white);
}

header img {
    width: 100%;
}

header nav ul {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

header nav ul li {
    list-style-type: none;
    font-size: 1.5em;
    line-height: 2em;
}

header nav ul li a {
    position: relative;
    bottom: 3.15px;
    float: left;
    width: 33.33%;
    text-decoration: none;
    color: white;
}

/* The header links turn a yellow gradient when hovered over */
header nav ul a:hover {
    background: linear-gradient(to top, yellow, white);
    background: -webkit-linear-gradient(bottom, yellow, white);
    background: -o-linear-gradient(bottom, yellow, white);
    color: rgb(0,0,30);
}

/* Section styles */

/* The next three rules set up where the section divs appear on the screen */
section#images > div#playerDiv {
    float: left;
}

section#images > div#results {
    clear: both;
    font-size: 1.5em;
}

section#images > div#computerDiv {
    float: right;
}

/* Input button styles */

input[type=button] {
    background: linear-gradient(to top, rgb(0,0,204), rgb(80,80,204));
    background: -webkit-linear-gradient(bottom, rgb(0,0,204), rgb(80,80,204));
    background: -o-linear-gradient(bottom, rgb(0,0,204), rgb(80,80,204));
    color: white;
    height: 2em;
    width: 5em;
    font-size: 2em;
    margin-bottom: 12px;
    padding: 0;
}

/* Styles the button that is created with JavaScript once the game is over */
input[type=button]#playAgain {
    width: 6em;
}

/* Footer styles */

footer {
    margin-top: 5px;
    color: white;
    width: 100%;
    font-size: 0.8em;
    font-variant: small-caps;
    background-color: rgb(0, 0, 204);
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}

footer a:hover {
    text-decoration: underline;
}
