/*
File: rps_gambling_styles.css
Zachary Muranaka
Styles specific to the rps_gambling.html page
*/

html { background: darkgreen }

body {
    border-left: 2px solid rgb(45, 0, 170);
    border-right: 2px solid rgb(45, 0, 170);
    border-bottom: 2px solid rgb(45, 0, 170);
}

/* Styles the box where the player inputs their bet */
input[type=text] {
    margin: 10px;
    font-size: 1.5em;
    height: 1.5em;
    widtH: 3em;
}

/* Styles the label next to the input text box */
label {
    font-weight: bold;
    font-size: 1.5em;
}

#source a { color: rgb(45, 0, 170) }

footer { border-top: 2px solid rgb(45, 0, 170) }
