/*
File: rps_styles.css
Zachary Muranaka
Styles shared across every page
*/

/* Basic body styling */
body {
    width: 100%;
    min-width: 320px; /* Smallest screen size in common use */
    margin: 0px auto;
    text-align: center;
    background: white;
    box-shadow: inset darkgrey 0px 0px 40px;
    font-family: "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

/* Header styles */

/* The header is displayed as a table so the links will all be in a line */
header {
    display: table;
    width: 100%;
    background: linear-gradient(to top, rgb(0, 0, 204), white);
}

#headerImg { width: 100% }

#burgerNav { display: none }

#navBar ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

#navBar ul li {
    line-height: 2em;
    font-size: 1.5em;
    list-style-type: none;
}

#navBar ul li a {
    position: relative;
    bottom: 3.15px;
    float: left;
    width: 33.33%;
    color: white;
    text-decoration: none;
}

/* The header links turn a yellow gradient when hovered over */
#navBar ul li a:hover {
    background: linear-gradient(to top, yellow, white);
    color: rgb(0, 0, 30);
}

/* Section styles */

/* The next three rules set up where the section divs appear on the screen */
#images > #playerDiv { float: left }

#images > #results {
    clear: both;
    font-size: 1.5em;
}

#images > #computerDiv { float: right }

/* Input button styles */

input[type=button] {
    height: 2em;
    width: 5em;
    margin-bottom: 12px;
    padding: 0;
    background: linear-gradient(to top, rgb(0, 0, 204), rgb(80, 80, 204));
    cursor: pointer;
    color: white;
    font-size: 2em;
}

/* Changes the color of the buttons when hovered over */
input[type=button]:hover { background: linear-gradient(to top, rgb(0, 175, 255), rgb(0, 255, 255)) }

/* Changes the color of the buttons when clicked */
input[type=button]:active {
    background: linear-gradient(to top, yellow, white);
    color: rgb(0, 0, 30);
}

/* Styles the button that is created with JavaScript once the game is over */
#playAgain { width: 6em }

/* Footer styles */

footer {
    width: 100%;
    margin-top: 1em;
    padding-top: 1em;
    background: linear-gradient(rgb(0, 0, 204), midnightblue);
    color: white;
    font-size: 0.8em;
    text-align: center;
    font-variant: small-caps;
    
}

footer a {
    display: inline-block;
    margin: 1em 1em 1em 0;
    color: white;
    text-decoration: none;
}

/* Styling that applies to small screens like phones and small tablets */
@media screen and (max-width: 579px) {

    header { background: linear-gradient(to top, rgb(30, 30, 204), rgb(200, 200, 255)) }

    #headerImg { display: none }

    #burgerNav {
        display: block;
        float: right;
        cursor: pointer;
    }
    
    #burgerNav:hover { background: linear-gradient(to top, yellow, white) }

    #burgerNav:active { background: orange }

    #navBar { display: none }

    #playerDiv, #computerDiv { width: 48% }

    #playerDiv #player, #computerDiv #computer { width: 100% }

}
