/*
File: rps_reverse_styles.css
Zachary Muranaka
Styles specific to the rps_reverse.html page
*/

html { background: rgb(40, 0, 80) }

/* Styles both the timer div and its label */
#images > #timer, #images > label {
    display: inline;
    background-color: yellow;
    font-size: 1.2em;
}

#source a { color: green }

footer {
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}
