/*
File: rps_styles.css
Zachary Muranaka
Styles shared across every page
*/

/* Basic body styling */
body {
    text-align: center;
    box-shadow: inset darkgrey 0px 0px 40px;
    margin: 0px auto;
    max-width: 100%;
    min-width: 320px; /* Smallest screen size in common use */
    background-color: white;
    font-family:  Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

/* Header styles */

/* The header is displayed as a table so the links will all be in a line */
header {
    width: 100%;
    display: table;
    background: linear-gradient(to top, rgb(0, 0, 204), white);
    background: -webkit-linear-gradient(bottom, rgb(0, 0, 204), white);
    background: -o-linear-gradient(bottom, rgb(0, 0, 204), white);
}

header img#headerImg{
    width: 100%;
}

header img#burgerNav {
    display: none;
}

header nav#navBar ul {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

header nav#navBar ul li {
    list-style-type: none;
    font-size: 1.5em;
    line-height: 2em;
}

header nav#navBar ul li a {
    position: relative;
    bottom: 3.15px;
    float: left;
    width: 33.33%;
    text-decoration: none;
    color: white;
}

/* The header links turn a yellow gradient when hovered over */
header nav#navBar ul li a:hover {
    background: linear-gradient(to top, yellow, white);
    background: -webkit-linear-gradient(bottom, yellow, white);
    background: -o-linear-gradient(bottom, yellow, white);
    color: rgb(0, 0, 30);
}

/* Section styles */

/* The next three rules set up where the section divs appear on the screen */
section#images > div#playerDiv {
    float: left;
}

section#images > div#results {
    clear: both;
    font-size: 1.5em;
}

section#images > div#computerDiv {
    float: right;
}

/* Input button styles */

input[type=button] {
    background: linear-gradient(to top, rgb(0, 0, 204), rgb(80, 80, 204));
    background: -webkit-linear-gradient(bottom, rgb(0, 0, 204), rgb(80, 80, 204));
    background: -o-linear-gradient(bottom, rgb(0, 0, 204), rgb(80, 80, 204));
    color: white;
    height: 2em;
    width: 5em;
    font-size: 2em;
    margin-bottom: 12px;
    padding: 0;
}

/* Styles the button that is created with JavaScript once the game is over */
input[type=button]#playAgain {
    width: 6em;
}

/* Footer styles */

footer {
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
    color: white;
    width: 100%;
    font-size: 0.8em;
    font-variant: small-caps;
    background: -webkit-linear-gradient(rgb(0, 0, 204), midnightblue);
    background: -o-linear-gradient(rgb(0, 0, 204), midnightblue);
    background: linear-gradient(rgb(0, 0, 204), midnightblue);
}

footer a {
    display: inline-block;
    color: white;
    margin: 1em 1em 1em 0;
    text-decoration: none;
}

/* Styling that applies to small screens like phones and small tablets */
@media screen and (max-width: 579px) {

    header {
        background: linear-gradient(to top, rgb(30, 30, 204), rgb(200, 200, 255));
        background: -webkit-linear-gradient(bottom, rgb(30, 30, 204), rgb(200, 200, 255));
        background: -o-linear-gradient(bottom, rgb(30, 30, 204), rgb(200, 200, 255));
    }

    header img#headerImg {
        display: none;
    }

    header img#burgerNav {
        display: block;
        float: right;
        cursor: pointer;
    }
    
    header img#burgerNav:hover {
        background: linear-gradient(to top, yellow, white);
        background: -webkit-linear-gradient(bottom, yellow, white);
        background: -o-linear-gradient(bottom, yellow, white);
    }

    header img#burgerNav:active {
        background: orange;
    }

    header nav#navBar {
        display: none;
    }

    div#playerDiv, div#computerDiv {
        width: 48%;
    }

    div#playerDiv img#player, div#computerDiv img#computer {
        width: 100%;
    }

}
