/*
File: rps_gambling_styles.css
Zachary Muranaka
Styles specific to the rps_gambling.html page
*/

html { background: darkgreen }

/* Styles the box where the player inputs their bet */
input[type=text] {
    height: 1.5em;
    width: 3em;
    margin: 10px;
    font-size: 1.5em;
}

/* Styles the label next to the input text box */
label {
    font-size: 1.5em;
    font-weight: bold;
}

#source a { color: rgb(45, 0, 170) }

footer {
    border-top: 1px solid rgb(45, 0, 170);
    border-bottom: 1px solid rgb(45, 0, 170);
}
