/*
File: rps_classic_styles.css
Zachary Muranaka
Styles specific to the rps_classic.html page
*/

html { background: rgb(205, 210, 255) }

footer {
    border-top: 1px solid steelblue;
    border-bottom: 1px solid steelblue;
}
